.animation {
  width: 50px;
  height: 50px;
  background-color: red;
  animation-duration: 3s;
  animation-name: pendulum;
  animation-fill-mode: backwards;
  animation-delay: 1s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}

.easeIn {
  animation-timing-function: ease-in;
}

.easeOut {
  animation-timing-function: ease-out;
}

@keyframes pendulum {
  from {
    margin-left: 0;
    transform-origin: -200px 150px;
    transform: rotate(0);
    background-color: yellow
  }

  50% {
    margin-top: 100px;
  }

  to {
    margin-left: calc(100% - 50px);
    transform: rotate(360deg);
    background-color: green;
  }
}

:host-context(:root) {
  --main-color: lime;
}

.color {
  color: var(--fake, var(--main-color, brown));
}
